In [1]:
import pandas as pd
import numpy as np
import json
from sqlalchemy import create_engine

In [2]:
#data ingestion
df=pd.read_csv("train.csv")
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12-06-2017,16-06-2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [3]:
df.shape

(9800, 18)

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   str
 2   Order Date     9800 non-null   str
 3   Ship Date      9800 non-null   str
 4   Ship Mode      9800 non-null   str
 5   Customer ID    9800 non-null   str
 6   Customer Name  9800 non-null   str
 7   Segment        9800 non-null   str
 8   Country        9800 non-null   str
 9   City           9800 non-null   str
 10  State          9800 non-null   str
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   str
 13  Product ID     9800 non-null   str
 14  Category       9800 non-null   str
 15  Sub-Category   9800 non-null   str
 16  Product Name   9800 non-null   str
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), str(15)
memory usage: 1.3 MB

In [5]:
df.describe()

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

In [6]:
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

DATA CLEANING

In [7]:
df.duplicated().any()

np.False_

In [8]:
df.columns=df.columns.str.strip().str.replace(" ","_").str.lower()

In [9]:
df['order_date']=pd.to_datetime(df['order_date'],format="%d-%m-%Y")
df['ship_date']=pd.to_datetime(df['ship_date'],format="%d-%m-%Y")

In [10]:
df=df[df['sales'] > 0]

In [11]:
df['postal_code']=df['postal_code'].fillna("Unkown")

DATA TRANSFORMATION

In [12]:
df['year']=df['order_date'].dt.year
df['month']=df['order_date'].dt.month
df['quarter']=df['order_date'].dt.quarter

In [13]:
df['shipping_duration']=(df['ship_date']-df['order_date']).dt.days

In [ ]:
df['month_name']=df['order_date'].dt.month_name()

In [ ]:
df['order_weekday'] = df['order_date'].dt.day_name()

In [16]:
df['shipping_category']=np.where(df['shipping_duration']<=3,'Fast',np.where(df['shipping_duration']<=7,'Medium','Slow'))

KPI

In [17]:
total_sales=df['sales'].sum()

In [18]:
avg_sales_per_order=df.groupby('order_id')['sales'].sum().mean()

In [57]:
monthly_sales=df.groupby(['year','month'])['sales'].sum().reset_index()

In [55]:
quarterly_sales=df.groupby(['year','quarter'])['sales'].sum().reset_index()

In [59]:
sales_by_category=df.groupby('category')['sales'].sum().sort_values(ascending=False).reset_index()

In [23]:
sales_by_subcategory=df.groupby('sub-category')['sales'].sum().sort_values(ascending=False)

In [51]:
sales_by_region=df.groupby('region')['sales'].sum().reset_index()

In [49]:
top_ten_products=df.groupby('product_name')['sales'].sum().sort_values(ascending=False).head(10).reset_index()

In [28]:
avg_shipping_duration=df['shipping_duration'].mean()

In [29]:
shipping_speed=df['shipping_category'].value_counts()

In [30]:
sales_by_segment=df.groupby('segment')['sales'].sum()

In [47]:
top_customers=df.groupby('customer_name')['sales'].sum().sort_values(ascending=False).head(10).reset_index()

In [32]:
sales_by_city=df.groupby('city')['sales'].sum()

In [35]:
kpi_summary={
    "TOTAL_SALES":total_sales,
    "AVERAGE_SALES_PER_ORDER":avg_sales_per_order,
    "AVERAGE_SHIPPING_DURATION":avg_shipping_duration,
}
kpi_summary_df=pd.DataFrame([kpi_summary])

In [38]:
engine = create_engine(
    "mysql+pymysql://root:Shyadha%40mysql1102@localhost/superstore_db"
)

df.to_sql("sales_table", engine, if_exists="replace", index=False)

9800

In [39]:
kpi_summary={
    "TOTAL_SALES":total_sales,
    "AVERAGE_SALES_PER_ORDER":avg_sales_per_order,
    "AVERAGE_SHIPPING_DURATION":avg_shipping_duration,
}

with open("kpi_summary.json", "w") as f:
    json.dump(kpi_summary, f, indent=4)

In [58]:
monthly_sales.to_json(
    "monthly_sales.json",
    orient="records",
    indent=4
)

In [56]:
quarterly_sales.to_json(
    "quarterly_sales.json",
    orient="records",
    indent=4
)

In [60]:
sales_by_category.to_json(
    "sales_by_category.json",
    orient="records",
    indent=4
)

In [52]:
sales_by_region.to_json(
    "sales_by_region.json",
    orient="records",
    indent=4
)

In [50]:
top_ten_products.to_json(
    "top_10_products.json",
    orient="records",
    indent=4
)

In [48]:
top_customers.to_json(
    "top_10_customers.json",
    orient="records",
    indent=4
)

In [40]:
len(df)

9800