In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("archive (5)/dirty_cafe_sales.csv")
print(df.shape)

(10000, 8)

In [3]:
df.head()
df.info()
df.isnull().sum()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  str
 1   Item              9667 non-null   str
 2   Quantity          9862 non-null   str
 3   Price Per Unit    9821 non-null   str
 4   Total Spent       9827 non-null   str
 5   Payment Method    7421 non-null   str
 6   Location          6735 non-null   str
 7   Transaction Date  9841 non-null   str
dtypes: str(8)
memory usage: 625.1 KB

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [4]:
#Renaming column names 
df.columns=(df.columns.str.strip().str.lower().str.replace(" ","_"))
df.head()

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [5]:
df.replace(["ERROR","UNKNOWN","N/A","","NULL","None"],pd.NA)

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,NaN,NaN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,NaN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [6]:
for col in df.columns:
    if df[col].dtype=="object":
        df[col]=df[col].str.strip()

In [9]:
for col in ["item", "payment_method", "location"]:
    df[col]=df[col].str.strip().str.title()

In [12]:
#type conversion
numeric_cols=["quantity","price_per_unit","total_spent"]
for col in numeric_cols:
    df[col]=pd.to_numeric(df[col],errors="coerce")

df["transaction_date"]=pd.to_datetime(df["transaction_date"],errors="coerce")

df=df.dropna(subset=["transaction_date"])

In [13]:
#handling missing values
for col in numeric_cols:
    median=df[col].median()
    df[col]=df[col].fillna(df[col].median())

cat_cols = ["item","payment_method","location"]

for col in cat_cols:
    df[col]=df[col].fillna("Unknown")

In [14]:
df.isnull().sum()

transaction_id      0
item                0
quantity            0
price_per_unit      0
total_spent         0
payment_method      0
location            0
transaction_date    0
dtype: int64

In [15]:
df.duplicated().any()

np.False_

In [16]:
df_sorted=df.sort_values(by=["transaction_date","total_spent"],ascending=[True,False])
print(df_sorted)

     transaction_id      item  quantity  price_per_unit  total_spent  \
1425    TXN_8842223  Sandwich       5.0             3.0         20.0
1806    TXN_2192787  Sandwich       5.0             4.0         20.0
1777    TXN_7367474     Juice       5.0             3.0         15.0
2557    TXN_2690222     Error       4.0             3.0         12.0
4285    TXN_4292280      Cake       4.0             3.0         12.0
...             ...       ...       ...             ...          ...
1499    TXN_8933459     Juice       1.0             3.0          3.0
2618    TXN_9469735      Cake       1.0             3.0          3.0
8655    TXN_1931190    Cookie       3.0             1.0          3.0
3729    TXN_6380978       Tea       1.0             1.5          1.5
6515    TXN_7108012       Tea       1.0             1.5          1.5

      payment_method  location transaction_date
1425  Digital Wallet  In-Store       2023-01-01
1806            Cash  In-Store       2023-01-01
1777  Digital Wallet  Takeaway       2023-01-01
2557         Unknown   Unknown       2023-01-01
4285            Cash  Takeaway       2023-01-01
...              ...       ...              ...
1499         Unknown   Unknown       2023-12-31
2618           Error  In-Store       2023-12-31
8655         Unknown  Takeaway       2023-12-31
3729            Cash   Unknown       2023-12-31
6515  Digital Wallet  Takeaway       2023-12-31

[9540 rows x 8 columns]

In [17]:
filtered_df=df[df["payment_method"]=="Cash"]
print(filtered_df)

     transaction_id      item  quantity  price_per_unit  total_spent  \
1       TXN_4977031      Cake       4.0             3.0         12.0
7       TXN_6699534  Sandwich       4.0             4.0         16.0
10      TXN_2548360     Salad       5.0             5.0         25.0
12      TXN_7619095  Sandwich       2.0             4.0          8.0
17      TXN_6769710     Juice       2.0             3.0          6.0
...             ...       ...       ...             ...          ...
9987    TXN_1784478     Juice       5.0             3.0         15.0
9989    TXN_1741685     Juice       5.0             3.0         15.0
9991    TXN_3897619  Sandwich       3.0             4.0         12.0
9993    TXN_4766549  Smoothie       2.0             4.0          8.0
9999    TXN_6170729  Sandwich       3.0             4.0         12.0

     payment_method  location transaction_date
1              Cash  In-Store       2023-05-16
7              Cash   Unknown       2023-10-28
10             Cash  Takeaway       2023-11-07
12             Cash  In-Store       2023-05-03
17             Cash  In-Store       2023-02-24
...             ...       ...              ...
9987           Cash   Unknown       2023-07-31
9989           Cash   Unknown       2023-08-18
9991           Cash  Takeaway       2023-02-24
9993           Cash   Unknown       2023-10-20
9999           Cash  In-Store       2023-11-07

[2158 rows x 8 columns]

In [26]:
high_sales = df[df["total_spent"] > 20]
print(high_sales)

     transaction_id     item  quantity  price_per_unit  total_spent  \
10      TXN_2548360    Salad       5.0             5.0         25.0
51      TXN_6342161    Salad       5.0             5.0         25.0
52      TXN_8914892  Unknown       5.0             5.0         25.0
96      TXN_5220895    Salad       5.0             5.0         25.0
100     TXN_9517146  Unknown       5.0             5.0         25.0
...             ...      ...       ...             ...          ...
9791    TXN_1232346    Salad       5.0             5.0         25.0
9805    TXN_9506076    Salad       5.0             5.0         25.0
9879    TXN_6393305    Salad       5.0             5.0         25.0
9908    TXN_8922585    Salad       5.0             5.0         25.0
9971    TXN_6120851    Salad       5.0             5.0         25.0

      payment_method  location transaction_date
10              Cash  Takeaway       2023-11-07
51             Error  Takeaway       2023-01-08
52    Digital Wallet   Unknown       2023-03-15
96              Cash  In-Store       2023-06-10
100             Cash  Takeaway       2023-10-30
...              ...       ...              ...
9791  Digital Wallet  In-Store       2023-01-04
9805         Unknown   Unknown       2023-01-17
9879  Digital Wallet  In-Store       2023-10-19
9908     Credit Card   Unknown       2023-06-22
9971            Cash  Takeaway       2023-02-04

[250 rows x 8 columns]

In [42]:
most_bought = df.groupby("item")["quantity"].sum().sort_values(ascending=False)
print(most_bought)

item
Coffee      3425.0
Juice       3351.0
Salad       3314.0
Cake        3278.0
Sandwich    3266.0
Smoothie    3208.0
Tea         3125.0
Cookie      3093.0
Unknown     1921.0
Error        869.0
Name: quantity, dtype: float64

In [43]:
df=df.rename(columns={"price_per_unit  ":"unit_price", "total_spent": "sales_amount"})
df.head()

,transaction_id,item,quantity,price_per_unit,sales_amount,payment_method,location,transaction_date,revenue_rank
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08,7320.0
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-Store,2023-05-16,2517.0
2,TXN_4271903,Cookie,4.0,1.0,8.0,Credit Card,In-Store,2023-07-19,4490.5
3,TXN_7034554,Salad,2.0,5.0,10.0,Unknown,Unknown,2023-04-27,3216.5
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-Store,2023-06-11,7320.0

In [45]:
df=df.drop("revenue_rank",axis=1)

In [46]:
df.head()

,transaction_id,item,quantity,price_per_unit,sales_amount,payment_method,location,transaction_date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-Store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,8.0,Credit Card,In-Store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,Unknown,Unknown,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-Store,2023-06-11